<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aykit.MyOwnNotes"
    android:versionCode="9"
    android:versionName="1.6" 
    >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" 
        />
	
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--  android:theme="@style/AppTheme" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" 
        >
        <activity
            android:name="org.aykit.owncloud_notes.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.aykit.owncloud_notes.NoteListActivity" 
            >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="org.aykit.owncloud_notes.NoteListActivity" 
	            />
        </activity>
        <activity
            android:name="org.aykit.owncloud_notes.NoteListActivity"
            android:label="@string/title_activity_note_list" 
            >
	        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.aykit.owncloud_notes.NoteSingleActivity"
            android:label="@string/title_activity_note_single" 
            android:parentActivityName="org.aykit.owncloud_notes.NoteListActivity" 
            >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="org.aykit.owncloud_notes.NoteListActivity" 
	            />
        </activity>
        <activity
            android:name="org.aykit.owncloud_notes.AboutActivity"
            android:label="@string/title_activity_about_activity" 
            android:parentActivityName="org.aykit.owncloud_notes.NoteListActivity" 
            >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="org.aykit.owncloud_notes.NoteListActivity" 
	            />
        </activity>
        <activity
            android:name="org.aykit.owncloud_notes.HelpActivity"
            android:label="@string/title_activity_help_activity" 
            android:parentActivityName="org.aykit.owncloud_notes.NoteListActivity" 
            >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="org.aykit.owncloud_notes.NoteListActivity" 
	            />
        </activity>
    </application>

</manifest>
