<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aykit.MyOwnNotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.LoginActivity"
            android:launchMode="singleInstance"
            android:clearTaskOnLaunch="true"/>

        <activity
            android:name=".activities.NoteListActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NoteDetailActivity"
            android:parentActivityName=".activities.NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NoteListActivity" />
        </activity>

        <provider
            android:name=".database.generated.NotesProvider"
            android:authorities="org.aykit.MyOwnNotes.NotesProvider"
            android:exported="false" />

    </application>

</manifest>
